{% extends 'lmn/base.html' %}

{% block content %}

  <h2 id="note-page-title">{{ note.show.artist.name }} at {{ note.show.venue.name }} by 
    <a href="{% url 'user_profile' user_pk=note.user.pk %}">{{ note.user.username }}</a>
  </h2>

  <p id="note-title"><b>{{ note.title}}</b></p>
  <p id="note-text">{{ note.text }}</p>
  {% if note.image %}
  <img class="note-image" src="{{ note.image.url }}" alt="Note image for {{ note.title }}" width="50%" height="auto">
  {% endif %}

  {% if user == note.user %}
    <br>
    <p><a href="{% url 'edit_note' note_pk=note.pk %}">Edit</a></p>
  {% endif %}

{% endblock %}
