{% extends 'lmn/base.html' %}

{% block content %}

  <!-- A user's profile page.

  Includes list of user's notes with title and preview of text.
  Text truncated to 300 characters. 

  user_profile is the user that this profile is about 
  user is a variable provided to the template and is the current logged-in user 

  -->

  <h2 id="username-profile">{{ user_profile.username }}'s profile</h2>

  <div class="edit-profile">
    {% if user.is_authenticated and user.pk == user_profile.pk %}
        <a href="{% url 'edit_profile' %}" id="edit-profile-link">Edit Profile</a>
    {% endif %}
  </div>

    {% if profile %}
        <div class="profile-info">

            {% if profile.bio %}
                <p><strong>Bio:</strong> {{ profile.bio }}</p>
            {% endif %}

            {% if profile.favorite_artist %}
                <p><strong>Favorite Artist:</strong> {{ profile.favorite_artist }}</p>
            {% endif %}

            {% if profile.favorite_genre %}
                <p><strong>Favorite Genre:</strong> {{ profile.favorite_genre }}</p>
            {% endif %}

            {% if profile.favorite_show %}
                <p>
                    <strong>Favorite Show:</strong>
                    {{ profile.favorite_show.artist.name }} at
                    {{ profile.favorite_show.venue.name }} on
                    {{ profile.favorite_show.show_date }}
                </p>
            {% endif %}
        </div>
    {% endif %}
<div class="profile-badge">

    {% if user_rating %}
    <p><strong>User Rating:</strong> {{user_rating}} </p>
    {% else %}
    <p><strong>User Rating:</strong> No rating yet </p>
    {% endif %}

    <p><strong>Total Notes:</strong> {{ note_count}} </p>

    {% if next_rating %}
    <p>Post {{ notes_until_next_rating }} more notes to reach {{ next_rating}}.</p>
    {% else %}
    <p> You reached the highest rating!!</p>
    {% endif %}
      </div>

    <div>
        <h2 id="username-notes">Notes</h2>
        <p>Search {{ user_profile.username }}'s Notes (title/text):</p>
        <form action="{% url 'user_profile' user_pk=user_profile.pk%}">
            {{ form }}
            <input type="submit" value="Search">
        </form>
    </div>

    <div>
        {% if search_text %}
        <h3>
            Notes matching '{{ search_text }}'
            <a href="{% url 'user_profile' user_pk=user_profile.pk%}">(clear)</a>
        </h3>
        {% endif %}
    </div>

  {% for note in notes %}

    <div class="note" id="note-{{ note.pk }}">
      <h3 class="note-title">
        <a href="{% url 'note_detail' note_pk=note.pk %}">{{ note.title }}</a>
      </h3>

      <p class="note-info">{{ note.show.artist.name }} at {{ note.show.venue.name }} on {{ note.show.show_date }}</p>
      <p class="note-text">{{ note.text|truncatechars:300 }}</p>
      <p class="note-rating">{{ note.rating }}</p>
      <p class="note-posted-at">{{ note.posted_date }}</p>
    </div>

  {% empty %}

    <p id="no-records">No notes.</p>

  {% endfor %}

{% endblock %}
